@use 'abstracts/tokens' as *;

.comments {
  display: flex;
  flex-direction: column;
  gap: $size-2;

  &__title {
    font-family: $font-family-primary;
    font-size: $font-size-body-medium;
    font-weight: $font-weight-bold;
    line-height: 20px;
    color: $color-on-primary;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $size-2;
  }
}
