$bp-mobile: 375px;
$bp-to-tablet: 425px;
$bp-tablet: 768px;
$bp-to-desktop: 1024px;
$bp-desktop-mid: 1440px;
$bp-max: 1920px;

@mixin tablet {
  @media (min-width: $bp-to-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-to-desktop) {
    @content;
  }
}

@mixin desktop-mid {
  @media (min-width: $bp-desktop-mid) {
    @content;
  }
}
